################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/The Game/.vs/The Game/v15
